extends ../ui-layout.pug
block content 
    .ui-kit__wrapper
        .col
            +text-input('text field', 'Email')
            -
                var items = [{value: 'smoke',text:'Можно курить'},
                    {value: 'pet', text:'Можно с питомцами'}, 
                    {value:'friends', text:'Можно пригласить гостей (до 10 человек)'}]
            each item in items
                +checkbox(item.value, item.text)
            +dropdown
            input(type="datetime", name="date")
           
            

