extends ../ui-layout.pug
block content 
    .ui-kit__wrapper
        .col
            h3 text field
            +text-input('email', 'Email')
            +text-input('name', 'Name')
            -
                var items = [{value: 'smoke',text:'Можно курить'},
                    {value: 'pet', text:'Можно с питомцами'}, 
                    {value:'friends', text:'Можно пригласить гостей (до 10 человек)'}]
            each item in items
                +checkbox(item.value, item.text)
            +dropdown
            
            -
                var bulletListItems = ['Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00']
            +bullet-list('bullet list', ...bulletListItems)
            +btn('кнопка', 'arrow')
            +btn-arrow('Forward')

           
