.ui-kit {
    max-width: 100%;
    min-height: 100vh;
    background-image: url(../img/UI-kit-logo.svg);
    background-repeat: no-repeat;
    background-position: 2.1429rem 2.1429rem;
    background-size: 3.33%;
    padding: 10.07% 10.42%;
}
