.ui-color {
    display: flex;
    flex-direction: row;
}
.ui-color__box {
    width: 4.86%;
    height: 4.86%;
}

.ui-color__name {
    font-weight: 700;
    font-size: 1.3571rem;
    line-height: 2rem;
}

.ui-color__value {
    font-weight: 400;
    font-size: 1.3571rem;
    line-height: 2rem;
}
