
mixin ui-color(name, value)
    .ui-color
        div(class='ui-color__box' style={background: value}) 
        .ui-color__description
            .ui-color__name 
                name
            .ui-color__value
                value


