.dropdown {
    &__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    &__arrow {
    }
    &__content {
        display: flex;
        flex-direction: column;
        display: none;
    }
}
