.text-input {
    padding: rs(13) rs(15);
    border: 1px solid $dark25;
    border-radius: 0.2857rem;
    color: $dark25;
    width: rs(320);
    &:hover,
    &:focus {
        color: $dark75;
        border: 1px solid $dark50;
    }
}
