//Стили для UI-Kit

.ui-kit {
    max-width: 100%;
    min-height: 100vh;
    background-image: url("../img/UI-kit-logo.svg");
    background-repeat: no-repeat;
    background-position: rs(30) rs(30);
    background-size: rs(48);
    background-color: $dark5;
    padding: 0 rs(150);
    padding-top: rs(145);

    &__colors-and-types {
        display: flex;
        justify-content: space-between;
    }
    &__form-elements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.ui-colors {
    display: flex;
    flex-direction: column;
    gap: rs(20);
    .ui-colors__item {
        display: flex;
        gap: rs(40);
    }
    &__box {
        width: rs(70);
        height: rs(70);
        border-radius: rs(6);
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.3571rem;
        line-height: 1.9857rem;
        color: $dark100;
    }
    &__name {
        font-weight: 700;
    }
    &__value {
        font-weight: 400;
    }
}
.ui-types {
    display: flex;
    flex-direction: column;
    gap: rs(51);
    &__item {
        display: grid;
        gap: rs(30);
        grid-template-columns: rs(30) rs(369);
    }
    &__mark {
        display: flex;
        justify-content: end;
        text-transform: capitalize;
        h1,
        h2,
        h3,
        p {
            font-weight: 400;
            color: $dark25;
        }
    }
}
