.bullet-list {
    &__list {
        list-style: none;
        margin-top: 1.1429rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        max-width: rs(270);
    }
}
.bullet-list__item::before {
    content: "";
    display: inline-block;
    width: 0.7143rem;
    height: 0.7143rem;
    border-radius: 50%;
    background-color: $dark25;
    margin-right: 0.745rem;
}
