.bullet-list {
    list-style: none;
    margin-top: 1.1429rem;

    &__item {
        margin-bottom: 0.7143rem;
    }
}
.bullet-list__item::before {
    content: "";
    display: inline-block;
    width: 0.7143rem;
    height: 0.7143rem;
    border-radius: 50%;
    background-color: $dark25;
    margin-right: 0.745rem;
}
